*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 78em) {
    html {
      font-size: 50%; } }

body {
  color: #fff;
  font-weight: 300; }

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 7rem 2fr 4fr 3fr; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-columns: 7rem 4fr 3fr; } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-columns: 10rem 1fr;
      grid-template-rows: 1fr 1fr; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      display: inline-block;
      width: 100%; } }

.heading-1 {
  font-size: 2rem;
  color: #000;
  font-family: sans-serif; }

.heading-2 {
  font-size: 1.7rem;
  color: #000;
  font-family: sans-serif; }

.heading-3 {
  font-size: 1.5rem;
  color: #000;
  font-family: sans-serif; }

.sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid #DDBEA8; }
  @media only screen and (max-width: 50em) {
    .sidebar {
      grid-row: 1 / -1; } }
  @media only screen and (max-width: 37.5em) {
    .sidebar {
      display: flex;
      flex-direction: row;
      height: 8rem;
      border-bottom: 1px solid #DDBEA8;
      border-right: none; } }
  .sidebar__menu {
    border: none;
    background-color: #fff;
    width: 7rem;
    align-self: center;
    padding-top: 1.1rem;
    border-bottom: 1px solid grey; }
    @media only screen and (max-width: 62.5em) {
      .sidebar__menu {
        border: none; } }
    @media only screen and (max-width: 50em) {
      .sidebar__menu {
        border: none; } }
  .sidebar__icon {
    height: 3rem;
    width: 3rem;
    color: #2A2C28;
    padding: 1rem; }
    .sidebar__icon:hover, .sidebar__icon:active {
      background-color: #DDBEA8;
      color: #000; }
  .sidebar__link {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .sidebar__link {
        display: flex;
        flex-direction: row; } }
  .sidebar__help {
    display: flex;
    align-self: center; }
  .sidebar__help-btn {
    height: 4rem;
    width: 4rem;
    background-color: #000;
    border: none;
    border-radius: 50%;
    margin-right: 1.8rem; }
  .sidebar__help-icon {
    color: #fff;
    height: 2rem;
    width: 2rem; }

.nav {
  background-color: #DDBEA8;
  height: 100vh; }
  @media only screen and (max-width: 62.5em) {
    .nav {
      display: none; } }
  .nav__text {
    border-bottom: 1px solid grey; }
  .nav__heading {
    padding: 2rem 2rem 1rem 2rem; }
  .nav__sold {
    color: #000;
    font-size: 1rem;
    font-family: sans-serif; }
  .nav__content {
    padding: 2rem 2rem; }
  .nav__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem; }
  .nav__icon {
    height: 1.5rem;
    width: 1.5rem;
    color: #000; }
  .nav__item {
    margin-left: 1.5rem;
    margin-bottom: 2rem; }
  .nav__list {
    list-style: none;
    font-size: 1.2rem;
    color: #000;
    font-family: sans-serif;
    margin: 1rem 0; }
  .nav__list-cta {
    font-weight: 700;
    font-size: 1.2rem;
    list-style: none;
    color: #000;
    font-family: sans-serif;
    margin: 1rem 0; }

.project {
  padding: 3rem;
  height: 100vh; }
  .project__heading {
    display: flex;
    justify-content: space-between; }
  .project__link {
    text-decoration: none;
    font-size: 1.5rem;
    color: #f0884e; }
  .project__progress {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2.5rem;
    margin: 2rem 0 3rem 0; }
    @media only screen and (max-width: 31em) {
      .project__progress {
        grid-template-columns: 1fr; } }
  .project__content {
    box-sizing: border-box;
    background-color: #fcbda3;
    height: 30rem;
    border-radius: 20px;
    padding: 3rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (max-width: 31em) {
      .project__content {
        padding: 4rem 3rem; } }
  .project__content1 {
    box-sizing: border-box;
    background-color: #fce5bc;
    border-radius: 20px;
    height: 30rem;
    padding: 3rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (max-width: 31em) {
      .project__content1 {
        padding: 4rem 3rem; } }
  .project__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.8rem; }
  .project__people {
    display: flex; }
  .project__img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-left: -1rem;
    z-index: 3;
    border: 2px solid #fcbda3; }
    .project__img-1 {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      margin-left: -1rem;
      z-index: 1;
      border: 2px solid #fcbda3; }
    .project__img-2 {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      margin-left: -1rem;
      z-index: 5;
      border: 2px solid #fce5bc; }
    .project__img-3 {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      margin-left: -1rem;
      z-index: 4;
      border: 2px solid #fce5bc; }
    @media only screen and (max-width: 31em) {
      .project__img {
        height: 4rem;
        width: 4rem; } }
  .project__loader {
    background-color: #000;
    border: none;
    border-radius: 50%;
    height: 3.2rem;
    width: 3.2rem;
    margin-left: -1rem;
    z-index: 4;
    border: 2px solid #fcbda3; }
    @media only screen and (max-width: 31em) {
      .project__loader {
        height: 4rem;
        width: 4rem; } }
  .project__number {
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    padding-top: 0.6rem; }
    @media only screen and (max-width: 31em) {
      .project__number {
        font-size: 1.6rem;
        padding-top: 0.8rem; } }
  .project__loader1 {
    border: 1.5px solid #000;
    background-color: #fce5bc;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-left: -1rem;
    z-index: 6; }
    @media only screen and (max-width: 31em) {
      .project__loader1 {
        height: 4rem;
        width: 4rem; } }
  .project__number1 {
    font-size: 1.4rem;
    color: #000;
    text-align: center;
    padding-top: 0.6rem; }
    @media only screen and (max-width: 31em) {
      .project__number1 {
        font-size: 1.6rem;
        padding-top: 0.8rem; } }
  .project__icon {
    height: 2rem;
    width: 2rem;
    color: #000; }
  .project__text {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem; }
  .project__sold {
    color: #000;
    font-size: 1rem;
    font-family: sans-serif;
    padding-top: 2.5rem; }
  .project__sold1 {
    color: #000;
    font-size: 1rem;
    font-family: sans-serif;
    padding-top: 5rem; }
    @media only screen and (max-width: 50em) {
      .project__sold1 {
        padding-top: 2rem; } }
  .project__meter {
    height: 0.4rem;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0; }
  .project__meter span {
    display: block;
    border-radius: 10px;
    border: none;
    height: 100%; }
  .project__count {
    background-color: #000; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 3rem; }
  .search__input {
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 1rem 3.5rem;
    border-radius: 100px;
    width: 98%;
    transition: all .2s;
    margin-left: -3rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: #fff; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #ccc; }
  .search__input:focus + .search__button {
    background-color: #fff; }
  .search__button {
    border: none;
    background-color: #fff; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    color: #ccc; }

.reminder {
  box-sizing: border-box;
  border: 1px solid #dad4cb;
  border-radius: 20px;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 2rem; }
  .reminder__text {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr; }
  .reminder__btn {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    border: 1.4px dashed #fcbda3;
    color: #000;
    border-radius: 100px;
    padding: 1.5rem 2.4rem;
    margin: 1rem;
    justify-self: center;
    align-self: center;
    transition: all .2s; }
    .reminder__btn:hover, .reminder__btn:active {
      background-color: rgba(252, 189, 163, 0.4); }
  .reminder__more {
    display: flex;
    justify-content: center;
    margin-top: 2rem; }
  .reminder__dot {
    display: flex;
    width: 0.6rem;
    height: 0.6rem;
    background-color: rgba(252, 189, 163, 0.5);
    border-radius: 100%;
    position: relative; }
    .reminder__dot::before, .reminder__dot::after {
      content: "";
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 100%;
      position: absolute;
      display: block; }
    .reminder__dot::before {
      background-color: rgba(252, 189, 163, 0.2);
      right: -1rem; }
    .reminder__dot::after {
      background-color: #fcbda3;
      left: -1rem; }

.member {
  padding: 2.5rem 3rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 50em) {
    .member {
      grid-column: 2 / span 1; } }
  @media only screen and (max-width: 50em) {
    .member {
      box-shadow: none; } }
  .member__more {
    display: flex;
    justify-content: end; }
    .member__more-icon {
      color: #fcbda3;
      height: 3rem;
      width: 3rem; }
      @media only screen and (max-width: 31em) {
        .member__more-icon {
          height: 4rem;
          width: 4rem; } }
  .member__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem; }
  .member__btn {
    background-color: #f0884e;
    border: none;
    border-radius: 100px;
    padding: 1.4rem 2.5rem;
    font-size: 1.2rem;
    color: #fff; }
    .member__btn:hover, .member__btn:active {
      background-color: rgba(240, 136, 78, 0.8); }
    @media only screen and (max-width: 31em) {
      .member__btn {
        padding: 2rem 4rem;
        font-size: 1.8rem; } }
  .member__content {
    display: flex;
    gap: 1rem;
    align-items: center; }
  .member__not-icon {
    height: 2.5rem;
    width: 2.5rem;
    color: #000;
    padding-right: 1rem;
    position: relative; }
    .member__not-icon::before {
      content: "";
      background-color: #ff0000;
      height: 0.6rem;
      width: 0.6rem;
      position: absolute;
      border-radius: 50%;
      margin-left: 1.4rem;
      margin-top: 0.2rem; }
    @media only screen and (max-width: 31em) {
      .member__not-icon {
        height: 3rem;
        width: 3rem; } }
  .member__img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%; }
    @media only screen and (max-width: 31em) {
      .member__img {
        height: 3rem;
        width: 3rem; } }
  .member__text {
    display: flex;
    flex-direction: column;
    padding-right: 1rem; }
  .member__sold {
    color: #000;
    font-size: 1rem; }
  .member__down {
    border: 1px solid #fcbda3;
    background-color: rgba(252, 189, 163, 0.3);
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%; }
    .member__down-icon {
      height: 1rem;
      width: 1rem;
      color: #f0884e; }
    @media only screen and (max-width: 31em) {
      .member__down {
        height: 3rem;
        width: 3rem; } }

.team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem; }
  @media only screen and (max-width: 50em) {
    .team {
      justify-content: start;
      gap: 2rem; } }
  .team__img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%; }
    @media only screen and (max-width: 31em) {
      .team__img {
        height: 3.6rem;
        width: 3.6rem; } }
  .team__name {
    box-sizing: border-box;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: rgba(252, 189, 163, 0.3);
    text-align: center; }
    .team__name-text {
      font-size: 1.5rem;
      color: #f0884e;
      padding-top: 1.5rem; }
      @media only screen and (max-width: 31em) {
        .team__name-text {
          font-size: 1.5rem;
          padding-top: 1rem; } }
    @media only screen and (max-width: 31em) {
      .team__name {
        height: 3.6rem;
        width: 3.6rem; } }
  .team__add {
    border: 1.5px dashed #fcbda3;
    background-color: rgba(252, 189, 163, 0.3);
    height: 3rem;
    width: 3rem;
    border-radius: 50%; }
    .team__add-icon {
      height: 1.8rem;
      width: 1.8rem;
      color: #f0884e;
      padding-top: 0.2rem; }
      @media only screen and (max-width: 31em) {
        .team__add-icon {
          height: 1rem;
          width: 1rem;
          padding-top: 0; } }
    @media only screen and (max-width: 31em) {
      .team__add {
        height: 2rem;
        width: 2rem; } }

.progress {
  box-sizing: border-box;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2.5rem 1.8rem;
  margin-top: 3rem; }
  .progress__time {
    display: flex;
    justify-content: space-between; }
  .progress__sold {
    font-size: 1rem;
    font-family: sans-serif;
    color: #000;
    padding-bottom: 0.8rem; }
  .progress__header {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-right: 3rem; }

.task {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  margin: 2rem 0; }
  .task__add {
    background-color: #DDBEA8;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 3rem 2rem;
    height: 11rem; }
  .task__sold {
    font-size: 1.6rem;
    color: #000;
    font-family: sans-serif; }
    .task__sold-text {
      font-size: 1rem;
      color: #000;
      font-family: sans-serif; }
  .task__btn {
    border: none;
    background: none;
    float: right;
    margin-top: 2rem; }
    .task__btn-icon {
      height: 1.6rem;
      width: 1.6rem;
      color: #000; }
  .task__header {
    display: flex;
    justify-content: flex-end;
    gap: 0.6rem;
    align-items: center; }
  .task__add-1 {
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.4rem;
    height: 11rem; }
  .task__add-2 {
    background-color: #f0884e;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.4rem;
    height: 11rem; }
  .task__dot, .task__dot-1, .task__dot-2 {
    height: 0.6rem;
    width: 0.6rem;
    display: inline-block;
    background-color: #f0884e;
    box-sizing: border-box;
    border-radius: 50%; }
    .task__dot-1, .task__dot-1-1, .task__dot-2-1 {
      background-color: #00cbb3; }
    .task__dot-2, .task__dot-1-2, .task__dot-2-2 {
      background-color: #fff; }
  .task__box, .task__box-1 {
    height: 1rem;
    width: 1rem;
    border: 1px solid #fce5bc;
    border-radius: 3px; }
    .task__box-1, .task__box-1-1 {
      border: none;
      background-color: #000; }
  .task__p1 {
    font-size: 1.4rem;
    font-family: sans-serif;
    color: #000;
    margin-right: 1rem;
    margin-top: 1rem; }
