// RESPONSIVE BREAKPOINTS
$bp-largest: 78em;     // 1250px
$bp-large: 62.5em;     // 1000px
$bp-medium: 50em;      // 800px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31em;    // 500px

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;  // 10px/16px = 62.5% -> 1rem = 10px

    @media only screen and(max-width: $bp-largest){
        font-size: 50%;
    }
}

body{
    color: #fff;
    font-weight: 300;
}

.container{
    height: 100vh;
    display: flex;

    @media only screen and(max-width: $bp-small){
        display: inline-block;
        width: 100%;
    }
}

.section-content{
    display: grid;
    grid-template-columns: 2fr 4fr 3fr;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    @media only screen and(max-width: $bp-large){
        grid-template-columns: 4fr 3fr;
    }

    @media only screen and(max-width: $bp-medium){
        display: inline-block;
        width: 100%;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar{
            display: none;
        }
    }
}