.member{
    padding: 2.5rem 3rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    // overflow-y: scroll;
    // scrollbar-width: none;
    // -ms-overflow-style: none;
    
    // &::-webkit-scrollbar{
    //     display: none;
    // }

    @media only screen and(max-width: $bp-medium){
        grid-column: 2 / span 1;
    }

    @media only screen and(max-width: $bp-medium){
        box-shadow: none;
    }

    &__more{
        display: flex;
        justify-content: end;

        &-icon{
            color: #fcbda3;
            height: 3rem;
            width: 3rem;

            @media only screen and(max-width: $bp-smallest){
                height: 4rem;
                width: 4rem;
            }
        }
    }

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3.5rem;
    }

    &__btn{
        background-color: #f0884e;
        border: none;
        border-radius: 100px;
        padding: 1.4rem 2.5rem;
        font-size: 1.2rem;
        color: #fff;

        &:hover,
        &:active{
            background-color: rgba(240,136,78,0.8);
        }

        @media only screen and(max-width: $bp-smallest){
            padding: 2rem 4rem;
            font-size: 1.8rem;
        }

        @media only screen and(max-width: $bp-smallest){
            padding: 1.5rem 2.5rem;
            font-size: 1.4rem;
        }
    }

    &__content{
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    &__not-icon{
        height: 2.5rem;
        width: 2.5rem;
        color: #000;
        padding-right: 1rem;
        position: relative;

        &::before{
            content: "";
            background-color: #ff0000;
            height: 0.6rem;
            width: 0.6rem;
            position: absolute;
            border-radius: 50%;
            margin-left: 1.4rem;
            margin-top: 0.2rem;
        }

        @media only screen and(max-width: $bp-smallest){
            height: 3rem;
            width: 3rem;
        }
    }

    &__img{
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;

        @media only screen and(max-width: $bp-smallest){
            height: 3rem;
            width: 3rem;
        }
    }

    &__text{
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
    }

    &__sold{
        color: #000;
        font-size: 1rem;
    }

    &__down{
        border: 1px solid #fcbda3;
        background-color: rgba(252,189,163,0.3);
        height: 1.8rem;
        width: 1.8rem;
        border-radius: 50%;

        &-icon{
            height: 1rem;
            width: 1rem;
            color: #f0884e;
        }

        @media only screen and(max-width: $bp-smallest){
            height: 3rem;
            width: 3rem;
        }
    }
}

.team{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

    @media only screen and(max-width: $bp-medium){
        justify-content: start;
        gap: 2rem;
    }

    &__img{
        height: 5rem;
        width: 5rem;
        border-radius: 50%;

        @media only screen and(max-width: $bp-smallest){
            height: 3.6rem;
            width: 3.6rem;
        }
    }

    &__name{
        box-sizing: border-box;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        background-color: rgba(252,189,163,0.3);
        text-align: center;

        &-text{
            font-size: 1.5rem;
            color: #f0884e;
            padding-top: 1.5rem;

            @media only screen and(max-width: $bp-smallest){
                font-size: 1.5rem;
                padding-top: 1rem;
            }
        }

        @media only screen and(max-width: $bp-smallest){
            height: 3.6rem;
            width: 3.6rem;
        }
    }

    &__add{
        border: 1.5px dashed #fcbda3;
        background-color: rgba(252,189,163,0.3);
        height: 3rem;
        width: 3rem;
        border-radius: 50%;

        &-icon{
            height: 1.8rem;
            width: 1.8rem;
            color: #f0884e;
            padding-top: 0.2rem;

            @media only screen and(max-width: $bp-smallest){
                height: 1rem;
                width: 1rem;
                padding-top: 0;
            }
        }

        @media only screen and(max-width: $bp-smallest){
            height: 2rem;
            width: 2rem;
        }
    }
}
.progress{
    box-sizing: border-box;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2.5rem 1.8rem;
    margin-top: 3rem;

    &__time{
        display: flex;
        justify-content: space-between;
    }

    &__sold{
        font-size: 1rem;
        font-family: sans-serif;
        color: #000;
        padding-bottom: 0.8rem;
    }

    &__header{
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
        margin-right: 3rem;
    }
}

.task{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    margin: 2rem 0;

    &__add{
        background-color: #DDBEA8;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 3rem 2rem;
        height: 11rem;
    }

    &__sold{
        font-size: 1.6rem;
        color: #000;
        font-family: sans-serif;

        &-text{
            font-size: 1rem;
            color: #000;
            font-family: sans-serif;
        }
    }

    &__btn{
        border: none;
        background: none;
        float: right;
        margin-top: 2rem;

        &-icon{
            height: 1.6rem;
            width: 1.6rem;
            color: #000;
        }
    }

    &__header{
        display: flex;
        justify-content: flex-end;
        gap: 0.6rem;
        align-items: center;
    }

    &__add-1{
        background-color: #fff;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 1.4rem;
        height: 11rem;
    }

    &__add-2{
        background-color: #f0884e;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 1.4rem;
        height: 11rem;
    }

    &__dot,
    &__dot-1,
    &__dot-2{
        height: 0.6rem;
        width: 0.6rem;
        display: inline-block;
        background-color: #f0884e;
        box-sizing: border-box;
        border-radius: 50%;

        &-1{
            background-color: #00cbb3;
        }

        &-2{
            background-color: #fff;
        }
    }

    &__box,
    &__box-1{
        height: 1rem;
        width: 1rem;
        border: 1px solid #fce5bc;
        border-radius: 3px;

        &-1{
            border: none;
            background-color: #000;
        }
    }

    &__p1{
        font-size: 1.4rem;
        font-family: sans-serif;
        color: #000;
        margin-right: 1rem;
        margin-top: 1rem;
    }
}