.project{
    padding: 3rem;
    height: 100vh;

    &__heading{
        display: flex;
        justify-content: space-between;
    }

    &__link{
        text-decoration: none;
        font-size: 1.5rem;
        color: #f0884e;
    }

    &__progress{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 2.5rem;
        margin: 2rem 0 3rem 0;

        @media only screen and(max-width: $bp-smallest){
            grid-template-columns: 1fr;
        } 
    }

    &__content{
        box-sizing: border-box;
        background-color: #fcbda3;
        height: 30rem;
        border-radius: 20px;
        padding: 3rem 2rem;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media only screen and(max-width: $bp-smallest){
            padding: 4rem 3rem;
        }
    }

    &__content1{
        box-sizing: border-box;
        background-color: #fce5bc;
        border-radius: 20px;
        height: 30rem;
        padding: 3rem 2rem;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media only screen and(max-width: $bp-smallest){
            padding: 4rem 3rem;
        }
    }

    &__user{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 0.8rem;
    }

    &__people{
        display: flex;
    }

    &__img{
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        margin-left: -1rem;
        z-index: 3;
        border: 2px solid #fcbda3;

        &-1{
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            margin-left: -1rem;
            z-index: 1;
            border: 2px solid #fcbda3;
        }

        &-2{
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            margin-left: -1rem;
            z-index: 5;
            border: 2px solid #fce5bc;
        }

        &-3{
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            margin-left: -1rem;
            z-index: 4;
            border: 2px solid #fce5bc;
        }

        @media only screen and(max-width: $bp-smallest){
            height: 4rem;
            width: 4rem;
        }
    }
    
    &__loader{
        background-color: #000;
        border: none;
        border-radius: 50%;
        height: 3.2rem;
        width: 3.2rem;
        margin-left: -1rem;
        z-index: 4;
        border: 2px solid #fcbda3;

        @media only screen and(max-width: $bp-smallest){
            height: 4rem;
            width: 4rem;
        }
    }
    
    &__number{
        font-size: 1.4rem;
        color: #fff;
        text-align: center;
        padding-top: 0.6rem;

        @media only screen and(max-width: $bp-smallest){
            font-size: 1.6rem;
            padding-top: 0.8rem;
        }
    }

    &__loader1{
        border: 1.5px solid #000;
        background-color: #fce5bc;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        margin-left: -1rem;
        z-index: 6;

        @media only screen and(max-width: $bp-smallest){
            height: 4rem;
            width: 4rem;
        }
    }
    
    &__number1{
        font-size: 1.4rem;
        color: #000;
        text-align: center;
        padding-top: 0.6rem;

        @media only screen and(max-width: $bp-smallest){
            font-size: 1.6rem;
            padding-top: 0.8rem;
        }
    }

    &__icon{
        height: 2rem;
        width: 2rem;
        color: #000;
    }

    &__text{
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    &__sold{
        color: #000;
        font-size: 1rem;
        font-family: sans-serif;
        padding-top: 2.5rem;

    }

    &__sold1{
        color: #000;
        font-size: 1rem;
        font-family: sans-serif;
        padding-top: 5rem;

        @media only screen and(max-width: $bp-medium){
            padding-top: 2rem;
        }
    }

    &__meter{
        height: 0.4rem;
        position: relative;
        background-color: rgba(0,0,0,0.2);
        border: none;
        border-radius: 10px;
        overflow: hidden;
        margin: 1rem 0;
    }
    
    &__meter span {
        display: block;
        border-radius: 10px;
        border: none;
        height: 100%;
    }

    &__count{
        background-color: #000;
    }
}

.search{
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 3rem;

    &__input{
        font-family: sans-serif;
        font-size: 1.2rem;
        color: #000;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 1rem 3.5rem;
        border-radius: 100px;
        width: 98%;
        transition: all .2s;
        margin-left: -3rem;

        &:focus{
            outline: none;
            width: 100%;
            background-color: #fff;
        }

        &::-webkit-input-placeholder{
            font-weight: 100;
            color: #ccc;
        }
    }

    &__input:focus + &__button{
        background-color: #fff;
    }

    &__button{
        border: none;
        background-color: #fff;

        &:focus{
            outline: none;
        }

        &:active{
            transform: translateY(2px);
        }
    }

    &__icon{
        height: 2rem;
        width: 2rem;
        color: #ccc;
    }
}

.reminder{
    box-sizing: border-box;
    border: 1px solid #dad4cb;
    border-radius: 20px;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 2rem;

    &__text{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
    }

    &__btn{
        display: block;
        text-decoration: none;
        font-size: 1.2rem;
        border: 1.4px dashed #fcbda3;
        color: #000;
        border-radius: 100px;
        padding: 1.5rem 2.4rem;
        margin: 1rem;
        justify-self: center;
        align-self: center;
        transition: all .2s;

        &:hover,
        &:active{
            background-color: rgba(252,189,163,0.4);
        }
    }

    &__more{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    &__dot{
        display: flex;
        width: 0.6rem;
        height: 0.6rem;
        background-color: rgba(252,189,163,0.5);
        border-radius: 100%;
        position: relative;

        &::before,
        &::after{
            content: "";
            width: 0.6rem;
            height: 0.6rem;
            border-radius: 100%;
            position: absolute;
            display: block;
        }

        &::before{
            background-color: rgba(252,189,163,0.2);
            right: -1rem;
        }

        &::after{
            background-color: #fcbda3;
            left: -1rem;
        }
    }
}