.sidebar{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media only screen and(max-width: $bp-medium){
        grid-row: 1 / -1;
    }

    @media only screen and(max-width: $bp-small){
        display: flex;
        flex-direction: row;
    }

    &__menu{
        border: none;
        background-color: #fff;
        width: 7rem;
        align-self: center;
        padding-top: 1.1rem;
        border-bottom: 1px solid grey;

        @media only screen and(max-width: $bp-large){
            border: none;
        } 

        @media only screen and(max-width: $bp-medium){
            border: none;
        }
    }

    &__icon{
        height: 3rem;
        width: 3rem;
        color: #2A2C28;
        padding: 1rem ;

        &:hover,
        &:active{
            background-color: #DDBEA8;
            color: #000;
        }
    }
    
    &__link{
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and(max-width: $bp-small){
            display: flex;
            flex-direction: row;
        }
    }

    &__help{
        display: flex;
        align-self: center;
    }

    &__help-btn{
        height: 4rem;
        width: 4rem;
        background-color: #000;
        border: none;
        border-radius: 50%;
    }

    &__help-icon{
        color: #fff;
        height: 2rem;
        width: 2rem;
    }
}