.sidebar{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    @media only screen and(max-width: $bp-large){
        border-right: 1px solid #DDBEA8;
    }

    @media only screen and(max-width: $bp-medium){
        height: 100%;
    }

    @media only screen and(max-width: $bp-small){
        display: flex;
        flex-direction: row;
        height: 8rem;
        border-bottom: 1px solid #DDBEA8;
        border-right: none;
    }

    &__menu{
        border: none;
        background-color: #fff;
        width: 7rem;
        align-self: center;
        padding-top: 1.1rem;
        border-bottom: 1px solid grey;

        @media only screen and(max-width: $bp-large){
            border: none;
            padding-top: 0;
        } 

        @media only screen and(max-width: $bp-medium){
            border: none;
        }
    }

    &__icon{
        height: 3rem;
        width: 3rem;
        color: #2A2C28;
        padding: 1rem ;

        &:hover,
        &:active{
            background-color: #DDBEA8;
            color: #000;
            width: 5rem;

            @media only screen and(max-width: $bp-small){
                height: 6.5rem;
            }
        }

        @media only screen and(max-width: $bp-smallest){
            padding: 0;
        }
    }
    
    &__link{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        @media only screen and(max-width: $bp-small){
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }
    }

    &__help{
        display: flex;
        align-self: center;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    &__help-btn{
        height: 4rem;
        width: 4rem;
        background-color: #000;
        border: none;
        border-radius: 50%;
        margin-bottom: 1.8rem;

        @media only screen and(max-width: $bp-small){
            margin-right: 1.1rem;
        }
    }

    &__help-icon{
        color: #fff;
        height: 2rem;
        width: 2rem;
    }
}