.heading-1{
    font-size: 2rem;
    color: #000;
    font-family: sans-serif;
}

.heading-2{
    font-size: 1.7rem;
    color: #000;
    font-family: sans-serif;
}

.heading-3{
    font-size: 1.5rem;
    color: #000;
    font-family: sans-serif;
}